<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Liste des Utilisateurs</h1>
  </div>
  <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">All users register</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Identifiant</th>
                      <th>Noms & Prénoms</th>
                      <th>Email</th>
                      <th>Actif</th>
                      <th>Enregistré le</th>
                      <th>Dernière connexion le</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Identifiant</th>
                      <th>Noms & Prénoms</th>
                      <th>Email</th>
                      <th>Actif</th>
                      <th>Enregistré le</th>
                      <th>Dernière connexion le</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr *ngFor='let user of listUser;'>
                      <td>{{user.username}}</td>
                      <td>{{user.first_name}}</td>
                      <td>{{user.email}}</td>
                      <td *ngIf="user.is_active">OUI</td><td *ngIf="!user.is_active">NON</td>
                      <td>{{user.date_joined|date}}</td>
                      <td>{{user.last_login|date}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

</div>
